apiVersion: v1
kind: Service
metadata:
  annotations:
    kompose.cmd: kompose convert -o k8s
    kompose.version: 1.31.2 (HEAD)
  labels:
    io.kompose.service: votey-backend
  name: votey-backend
spec:
  ports:
    - name: "8000"
      port: 8000
      targetPort: 8000
  selector:
    io.kompose.service: votey-backend
status:
  loadBalancer: {}
